
@keyframes grow-tall{
    0%{
        height:0px
    }
    100%{
        height:650px;
    }
}
.pillar-container{
    float:left;
    width:24%;
    background-color:red;
    margin:0px 4%;
    text-align:center;
    height:0px;
    animation-name:grow-tall;
    animation-duration:0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    h3{
        margin-top:200px;
        font-size:25px;
        font-weight:400;
    }
}

.pillar-container:hover{
    cursor: pointer;
}